spring:
  profiles:
    active: dev
  application:
    name: api-gateway
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://cognito-idp.us-east-1.amazonaws.com/us-east-1_L5BtxVLpI

server:
  port: 9000

management:
  health:
    circuitbreakers:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: "always"

resilience4j:
  circuitbreaker:
    configs:
      default:
        register-health-indicator: true
        sliding-window-type: "COUNT_BASED"
        sliding-window-size: 10
        failure-rate-threshold: 50
        wait-duration-in-open-state: "5s"
        permitted-number-of-calls-in-half-open-state: 3
        automatic-transition-from-open-to-half-open: true
        minimum-number-of-calls: 5
  timelimiter:
    configs:
      default:
        timeout-duration: "2s"
  retry:
    configs:
      default:
        max-attempts: 3
        wait-duration: "2s"
